version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: eshop
      POSTGRES_PASSWORD: eshop
      POSTGRES_DB: eshopdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db


  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    ports:
      - "2181:2181"


  kafka:
    image: wurstmeister/kafka:2.12-2.3.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_PORT: 9092
    ports:
      - "9092:9092"


  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"


  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./infra/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"


  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"


volumes:
  pgdata:
  mongodata: