server:
  port: 8081

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: productdb
  main:
    allow-bean-definition-overriding: true

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
  endpoint:
    health:
      show-details: always
